
.container{

    margin-bottom: 100px;
}
.carousel-item{
    padding: 20px 40px;
}
.buy-now{
    background-image: linear-gradient(to bottom, rgb(0, 0, 0) 0% ,rgb(7, 0, 3) 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.phone{
    margin-bottom: 10px;
}
#see-all{
    color: #FF9D00;
   font-size: 20px;
   margin-top: 20px;
}

.categories img{
   padding:50px 50px;
}

.card-deck{
    height: 600px;

}
.card{
    
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 15px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.laptop{
    margin-top:30px ;
}
.line {
    
    
    border-radius: 10px;
    width: 100px;
    border: 4px solid #FF9C35;
}
.ctgy{
    margin-left: 500px;
    margin-top: 10px;
}

.bg-clr{
    margin: 20px 20px;
    /* background-image: linear-gradient(to bottom, #FFFFFF 0% ,rgb(255, 252, 252) 100%); */
    background-color: white;
    width: 200px;
    height: 250px;
    

}
.bg-clr img {
    padding:20px 20px;
}
.bg-clr h4 {
    text-align: center;
}
.bag {
    margin-top: 170px;
    margin-left: 70px;
    border-radius: 0px 5px 0px 15px; 
}
.beauty {
    border-radius: 15px 5px 30px 5px; 
}
.shoes{
    border-radius: 10px 5px 30px 5px; 
}
.busket{
    border-radius: 3px solid black;
   
}
.busket img {
  height: 514px;
  width: 680px;
  padding-top: 50px;
  padding-right: 100px;
    
}
.beauty-shoes{
    padding-left: 170px;
}
.item{
    margin-top: 50px;
}
footer {
    text-align: center;
}

